{% load staticfiles %}


<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>The Open Source Data Science Masters by datasciencemasters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/stylesheet.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/github-light.css'%}" >

  </head>



<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


<section class="page-header">
      <h1 class="project-name">{{title}}</h1>
      <h2 class="project-tagline">Curriculum for Beginner</h2>
      <a href="{{ instance.course_homepage_url}}" class="btn">Go to course</a>



    </section>

    <section class="main-content">
      <h2>Course Introduction</h2>
        <p>{{instance.course_intro}}</p>
      <h2>Course video demo</h2>
        <iframe width="560" height="315" src="{{ instance.course_video_url}}" frameborder="0" allowfullscreen></iframe>
        <h2>Contribute</h2>
        <div class="fb-comments" data-href="{{ request.build_absolute_url}}" data-numposts="5"></div>
        <p>Please Contribute -- <strong>this is Open Source!</strong></p>
    </section>

</body>
</html>
