{% extends "base_result.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class = "row">

    {% if error %}
        <h2 >Fail to find the course！</h2>
    {% else %}
    {% for course in course_list %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail" style="height:350px">

                  <img src = "{{ course.course_imag.url }}" width="180px"  />


                  <div class ="caption">
                    <h4>{{ course.course_name }}</h4>
                    <p>{{ course.course_platform }}</p>
                    <!-- <p>{{ post.course_intro }}</p> -->
                    <p>
                      <!-- <a class="btn btn-primary btn-lg" href={{post.course_homepage_url}} role="button">homepage</a>
                    <a class="btn btn-primary btn-lg" href={{post.course_video_url}} role="button">video</a> -->
                    <a class="btn btn-default" href="/course/{{course.id}}" role="button">View details »</a>
                  </p>
                  </div>
                </div>
          </div>

    {% endfor %}
  </div>
</div>
  <div class = "row">
    {% if course_list.object_list and course_list.paginator.num_pages > 1 %}
      <ul class="pager">
      {% if course_list.has_previous %}
        <li><a href="?page={{ course_list.previous_page_number }}">Page Up</a></li>
      {% endif %}

      {% if course_list.has_next %}
        <li><a href="?page={{ course_list.next_page_number }}">Page Down</a></li>
      {% endif %}
      </ul>

    </div>
    {% endif %}

    {% endif %}

    <div style="position: fixed;top: 200px;left:30px;">
      <div class="sidebar-module">
        <aside class="col-md-2 sidebar">

        <div class="widget">
        	<h4 class="title">Brand</h4>
        	<div class="content tag-cloud">
            {% for tag in tags_list %}
            <a href="/course/{{tag.name}}">{{ tag.name }}</a>
            {% endfor %}
        	</div>
        </div>
        </aside>
      </div>
    </div>





{% endblock %}
