{% extends "base_result.html" %}
{% load staticfiles %}

{% block content %}

    {% if error %}
        <h2 class="post-title">Fail to find the</h2>
    {% else %}
    {% for post in post_list %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail" style="height:350px">

                  <img src = "{{ post.course_imag.url }}" width="180px"  />


                  <div class ="caption">
                    <h4>{{ post.course_name }}</h4>
                    <p>{{ post.course_platform }}</p>
                    <!-- <p>{{ post.course_intro }}</p> -->
                    <p>
                      <!-- <a class="btn btn-primary btn-lg" href={{post.course_homepage_url}} role="button">homepage</a>
                    <a class="btn btn-primary btn-lg" href={{post.course_video_url}} role="button">video</a> -->
                    <a class="btn btn-default" href="/course/{{post.id}}" role="button">View details »</a>
                  </p>
                  </div>
                </div>
          </div>

    {% endfor %}
    {% endif %}

{% endblock %}
