{% load staticfiles %}

<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>The Open Source Data Science Masters by datasciencemasters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%}" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/stylesheet.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/github-light.css'%}" media="screen">

  </head>



<body>



<section class="page-header">
      <h1 class="project-name">The Open Source For Data Science Masters</h1>
      <!-- <h2 class="project-tagline">Curriculum for Data Science</h2>
      <a href="{% url 'home' %}" class="btn">Search Course</a> -->

    </section>

    <section class="main-content">


        <h2>The Open-Source Data Science Masters</h2>
        <p>The open-source curriculum for learning Data Science. Foundational
          in both theory and technologies, the OSDSM breaks down the core
           competencies necessary to making use of data.</p>

        <h2>The Open Source Data Science Curriculum</h2>
    </section>
</body>
</html>
