
{% extends "base.html" %}
{% load staticfiles %}
{% block ds %}




<section class="page-header">
      <h1 class="project-name">The Open Source Data Science Masters</h1>
      <h2 class="project-tagline">Curriculum for Data Science</h2>
      <a href="https://github.com/datasciencemasters/go" class="btn">Search Course</a>

    </section>

    <section class="main-content">
      <p>Find me Twitter <a href="http://bit.ly/clarecorthelltwitter">@clarecorthell</a>!</p>

<p>I'm the founding partner of <a href="http://bit.ly/luminantdata">Luminant Data</a>, a Data Science Consultancy.</p>

<h2>
<a id="the-open-source-data-science-masters" class="anchor" href="#the-open-source-data-science-masters" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>The Open-Source Data Science Masters</h2>

<p>The open-source curriculum for learning Data Science. Foundational in both theory and technologies, the OSDSM breaks down the core competencies necessary to making use of data.</p>




{% endblock %}
