{% load staticfiles %}

<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>The Open Source Data Science Masters by datasciencemasters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%}" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/stylesheet.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/github-light.css'%}" media="screen">

  </head>



<body>



<section class="page-header">
      <h1 class="project-name">The Open Source For Data Science Masters</h1>
      <!-- <h2 class="project-tagline">Curriculum for Data Science</h2>
      <a href="{% url 'home' %}" class="btn">Search Course</a> -->
      <p>The open-source curriculum for learning Data Science. Foundational
        in both theory and technologies, the OSDSM breaks down the core
         competencies necessary to making use of data.</p>
    </section>
    <section class="main-content">




        <h2>The Open Source Data Science Curriculum</h2>
        <p>Start here.</p>
        <h3>Fundamental/Basic</h3>

        <strong>Introduction to Computer Science</strong> /Harvard <a href="/course/2/">GO</a></p>
        <ul>
        <li>
        <em>Topics:</em> CS50x is Harvard College's introduction to the
        intellectual enterprises of computer science and the art of programming
        for majors and non-majors alike, with or without prior programming experience. </li>
        </ul>

        <strong>Introduction to Data Science</strong> /Udacity <a href="/course/6/">GO</a></p>
        <p>The Introduction to Data Science class will survey the foundational topics in data science, namely:</p>
          <ul>

          <li>  Data Manipulation</li>
          <li>  Data Analysis with Statistics and Machine Learning</li>
          <li>  Data Communication with Information Visualization</li>
          <li>  Data at Scale -- Working with Big Data<br></li>
        </ul>
          <h3>Mathematics</h3>
          <strong>Linear algebra</strong> /Khan Academy <a href="/course/9/">GO</a></p>
          <ul>
          <li>
           Matrices, vectors, vector spaces, transformations
          </li>
          </ul>

          <strong>Statistics One</strong> Coursera/Princeton <a href="/course/14/">GO</a></p>
          <ul>
          <li>
           Friendly introduction to fundamental concepts in statistics by using<strong> R programming language.</strong>
          </li>
          </ul>

          <h3>Algorithms/Database</h3>

          <strong>Algorithms, Part I</strong> /Princeton University <a href="/course/3/">GO</a></p>
          <ul>
          <li>
            <em>Topics:</em> Union-find algorithms; basic iterable data types (stack, queues, and bags);
            sorting algorithms (quicksort, mergesort, heapsort) and applications;
            priority queues; binary search trees; red-black trees; hash tables;
            and symbol-table applications.
          </li>
          </ul>

          <h3>Computing</h3>

          <strong>CS 156:Machine Learning</strong> /Caltech <a href="/course/12/">GO</a></p>
          <ul>
          <li>
            This is an introductory course in machine learning (ML)
            that covers the basic <strong>theory, algorithms, and applications</strong>
            . ML is a key technology in Big Data, and in many financial,
             medical, commercial, and scientific applications.
          </li>
          </ul>

    </section>
</body>
</html>
