<html lang="zh-cn" >
    <head>
        <title>
            Udemy：随时随地的在线课程

        </title>

        <meta charset="utf-8">
        <link rel="stylesheet" media="all" type="text/css" href="https://www.udemy.com/staticx/udemy/css/home.css?v=234540f8d7c08adbc10bf891b7db4dc2d4f4f09e">
            </head>
            <body id="udemy"
                  class="  udemy ">




<div class="home-top-splash ud-angular-loaded" data-module-id="ng-root/directives/common/fields/search-suggestions-field-directive" data-module-name="directives.common.fields.searchSuggestionsFieldDirective">
        <h1 class="heading">您的生活会选择什么课程？</h1>
        <div class="subhead">
            在线学习新技能，掌控自己的未来
        </div>
        <script type="text/javascript">
            UD.performance.mark('Homepage.search-rendered');
        </script>
        <div search-suggestions-field="" class="search--home">
            <form action="/courses/search/" class="form pos-r fxac ng-pristine ng-valid">
                <input type="hidden" name="ref" value="home">
                <input type="hidden" name="src" value="ukw">
                <div class="search-inp-container fx">
                    <input type="search" name="q" class="search-field form-control quick-search ng-pristine ng-valid ng-touched user-success" placeholder="找到关于几乎任何科目的课程" autocomplete="off" data-perf-mark="Homepage.search-ready" ng-keydown="hotkey($event)" ng-model="searchPhrase" ng-change="suggest()">
                </div>
                <button type="submit" class="home-search-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        <!-- ngInclude: dropdownTemplate --><div class="dropdown" ng-class="{open: showSuggestions}" ng-include="dropdownTemplate"><ul class="dropdown-menu ui-autocomplete quick-search-dropdown-v4" role="menu" aria-labelledby="dlabel" data-purpose="search-suggestion-list">
    <!-- ngRepeat: suggestion in suggestions -->
</ul></div></div>
        <ul class="fxjc features">
            <li class="fxac">
                <i class="icon-group"></i>
                <span class="desc">1 千 1 百多万名学生</span>
            </li>
            <li class="fxac">
                <i class="icon-rocket"></i>
                <span class="desc">40,000 多门课程</span>
            </li>
            <li class="fxac">
                <i class="icon-mobile-phone"></i>
                <span class="desc">在任何设备上按照您自己的节奏学习</span>
            </li>
        </ul>
    </div>
</body>
</html>
