{% extends "base.html" %}

{% block home %}

<div class="container">
<div class="row">
<div class="col-md-12 leaderboard">
<h1>SeekCourse <small>The Open Source Online Course.</small></h1>

<p class="hidden-xs">SeekCourse <strong>1,542,691</strong> open source libraries across <strong>32</strong> different package managers.
You can discover new libraries to use in your software projects as well as be notified of new releases to keep your applications secure and up to date.
<a href="/about">Find out more</a>
</p>
<hr>

<h3>
Search Projects by Language
<small class="more">
<a href="/languages">See more »</a>
</small>
</h3>
<div class="row">
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-go"></div>
<div class="blurb">
<a href="/languages/Go">Go</a>
<small>366K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-javascript"></div>
<div class="blurb">
<a href="/languages/JavaScript">JavaScript</a>
<small>243K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-php"></div>
<div class="blurb">
<a href="/languages/PHP">PHP</a>
<small>91.2K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-ruby"></div>
<div class="blurb">
<a href="/languages/Ruby">Ruby</a>
<small>74K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-java"></div>
<div class="blurb">
<a href="/languages/Java">Java</a>
<small>44.7K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-python"></div>
<div class="blurb">
<a href="/languages/Python">Python</a>
<small>37.4K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-c#"></div>
<div class="blurb">
<a href="/languages/C%23">C#</a>
<small>19.3K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-css"></div>
<div class="blurb">
<a href="/languages/CSS">CSS</a>
<small>16.6K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-coffeescript"></div>
<div class="blurb">
<a href="/languages/CoffeeScript">CoffeeScript</a>
<small>16.5K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-objective-c"></div>
<div class="blurb">
<a href="/languages/Objective-C">Objective-C</a>
<small>14.5K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-html"></div>
<div class="blurb">
<a href="/languages/HTML">HTML</a>
<small>13.1K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-clojure"></div>
<div class="blurb">
<a href="/languages/Clojure">Clojure</a>
<small>11.3K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-scala"></div>
<div class="blurb">
<a href="/languages/Scala">Scala</a>
<small>10.1K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-perl"></div>
<div class="blurb">
<a href="/languages/Perl">Perl</a>
<small>7.46K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-c"></div>
<div class="blurb">
<a href="/languages/C">C</a>
<small>5.45K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-haskell"></div>
<div class="blurb">
<a href="/languages/Haskell">Haskell</a>
<small>4.77K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-swift"></div>
<div class="blurb">
<a href="/languages/Swift">Swift</a>
<small>4.63K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-rust"></div>
<div class="blurb">
<a href="/languages/Rust">Rust</a>
<small>4.52K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-c++"></div>
<div class="blurb">
<a href="/languages/C++">C++</a>
<small>3.88K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-typescript"></div>
<div class="blurb">
<a href="/languages/TypeScript">TypeScript</a>
<small>3.81K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-shell"></div>
<div class="blurb">
<a href="/languages/Shell">Shell</a>
<small>3.79K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-emacs lisp"></div>
<div class="blurb">
<a href="/languages/Emacs%20Lisp">Emacs Lisp</a>
<small>1.85K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-elixir"></div>
<div class="blurb">
<a href="/languages/Elixir">Elixir</a>
<small>1.69K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-dart"></div>
<div class="blurb">
<a href="/languages/Dart">Dart</a>
<small>1.67K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-r"></div>
<div class="blurb">
<a href="/languages/R">R</a>
<small>1.02K Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-d"></div>
<div class="blurb">
<a href="/languages/D">D</a>
<small>784 Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-julia"></div>
<div class="blurb">
<a href="/languages/Julia">Julia</a>
<small>769 Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-groovy"></div>
<div class="blurb">
<a href="/languages/Groovy">Groovy</a>
<small>733 Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-f#"></div>
<div class="blurb">
<a href="/languages/F%23">F#</a>
<small>560 Projects</small>
</div>
</h4>
</div>
<div class="language col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="pictogram pictogram-makefile"></div>
<div class="blurb">
<a href="/languages/Makefile">Makefile</a>
<small>541 Projects</small>
</div>
</h4>
</div>
</div>
<hr>
<h3>
Search Projects by Keyword
<small class="more">
<a href="/keywords">See more »</a>
</small>
</h3>
<div class="row">
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/library">library</a>
<small>11.4K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/api">api</a>
<small>10.5K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/plugin">plugin</a>
<small>9.77K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/javascript">javascript</a>
<small>8.74K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/framework">framework</a>
<small>8.1K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/react">react</a>
<small>8.08K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/css">css</a>
<small>7.58K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/angular">angular</a>
<small>7.44K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/widget">widget</a>
<small>6.55K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/laravel">laravel</a>
<small>6.32K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/json">json</a>
<small>5.96K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/gruntplugin">gruntplugin</a>
<small>5.9K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/bsd3">bsd3</a>
<small>5.53K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/jquery">jquery</a>
<small>5.5K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/node">node</a>
<small>4.83K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/test">test</a>
<small>4.78K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/image">image</a>
<small>4.75K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/cli">cli</a>
<small>4.74K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/php">php</a>
<small>4.72K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/yeoman-generator">yeoman-generator</a>
<small>4.69K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/html">html</a>
<small>4.62K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/yii2">yii2</a>
<small>4.37K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/web">web</a>
<small>4.28K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/http">http</a>
<small>4.28K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/express">express</a>
<small>4.26K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/database">database</a>
<small>4.14K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/browser">browser</a>
<small>4.05K Projects</small>
</div>
</h4>
</div>
<div class="keyword col-xs-6 col-sm-4 col-md-3">
<h4>
<div class="blurb">
<a href="/keywords/google">google</a>
<small>3.91K Projects</small>
</div>
</h4>
</div>

</div>


</div>

{% endblock %}
