{% extends "base.html" %}

{% block tag %}

<div class="container">
  <div class="row">
    <div class="col-md-12 leaderboard">
    <h1>SeekForCourses <small>The Open Source Online Course.</small></h1>

    <p class="hidden-xs">
    You can discover online courses to improve yourself.

    <a href="/course">Find out more</a>
    </p>


    <hr>
    <h3>
    Search Projects by Keyword
    <small class="more">
    <a href="/keywords">See more »</a>
    </small>
    </h3>
    {% for tagger in tags_list %}
      <div class="row">
          <div class="keyword col-xs-6 col-sm-4 col-md-3">
            <h4>
              <div class="blurb">
              <a href="/course/{{tagger.name}}">{{ tagger.name }}</a>

              </div>
            </h4>
          </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
