<!-- Navigation section
================================================== -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
  <div class="container">

    <div class="navbar-header">

      <a href="#home" class="navbar-brand googl">COURSE&ampTEXTBOOK</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-mid">

        <!-- <li><a href="#home" class="smoothScroll">HOME</a></li> -->

        <li><a href="#Home" class="smoothScroll">HOMEPAGE</a></li>
        <li><a href="#about" class="smoothScroll">ABOUT</a></li>
        <li><a href="#team" class="smoothScroll">TEAM</a></li>
        <li><a href="#contact" class="smoothScroll">CONTACT</a></li>
      </ul>
    </div>
  </div>
</section>
